.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 0;
    margin: 50px;
}

.profileIcon {
    font-size: 30px;
    color: #555;
    margin-right: 15px;
}

.profileDetails {
    display: flex;
    align-items: center;
}

.logoutButton {
    background-color: #ff4b5c;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s;
    outline: 0;
}

.logoutButton:hover {
    background-color: #ff1c2e;
}