.userPath {
    display: flex;
    padding: 40px 5px;
    gap: 30px;
}

.userPath button {
    background-color: rgb(141, 214, 141);
}
.userPath button:hover {
    background-color: rgb(106, 174, 106);
}

@media screen and (max-width: 768px) {
    .userPath {
        flex-direction: column;
    }
    
}