.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.295);
    border-radius: 5px;
}

.userPath {
    display: flex;
    padding: 40px 5px;
    gap: 30px;
}

.userPath button {
    background-color: rgb(141, 214, 141);
}
.userPath button:hover {
    background-color: rgb(106, 174, 106);
}