.cardContent {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    background-color: rgb(197, 197, 197);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: auto;
    min-height: 150px;
    max-width: 198px;
    word-break: normal;
    overflow: hidden;
}

.cardContent h3,
.cardContent p strong {
    font-size: 1.1rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .dataViewContainer {
        width: 100%;
    }

    .cardContent {
        padding: 10px;
        margin: 5px;
    }
}