.Count {
    position: absolute;
    left: 0;
    top: 0;
    margin: 50px 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: rgb(203, 203, 203);
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.124);
}

.dataView {
    width: 100%;
    overflow: hidden;
    position: relative;
}