.dataViewMainContainer {
    display: flex;
    max-width: 1250px;
    overflow-x: scroll;
    padding: 0 1rem;
}

.dataViewContainer {
    width: 50%;
    min-width: 200px;
    max-height: 50vh;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}