.dataViewMainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 15px;
}

.lastdata {
    display: flex;
    flex-wrap: wrap;
}

.dataViewMainContainer span {
    padding: 10px 0 0 10px;
    font-size: 1.1rem;
}

.dataViewContainer {
    max-height: 50vh;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .lastdata {
        justify-content: center;
        align-items: center;
    }
    .dataViewMainContainer span {
        text-align: center;
    }
}