.userPath {
  display: flex;
  padding: 40px 5px;
  gap: 30px;
}

.userPath button {
  background-color: rgb(141, 214, 141);
}
.userPath button:hover {
  background-color: rgb(106, 174, 106);
}

@media screen and (max-width: 768px) {
  .userPath {
    flex-direction: column;
  }
}

.wallpaperSelector {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.wallpaperSelector h2 {
  font-weight: 500;
}

.wallpaperOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallpaperRadio {
  display: none;
}

.wallpaperPreview {
  width: 100px;
  height: 60px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
}

.wallpaperRadio:checked + .wallpaperPreview {
  border-color: #005e9c; /* cor do contorno quando selecionado */
}

.wallpaperSelector label img {
  border-radius: 1px;
}