/* :root {
} */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

select {
    border: solid rgb(185, 185, 185) 1px;
    border-radius: 10px;
    outline: none;
    max-width: 200px;
    padding: 11px 9px;
    transition: all ease-in-out .4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select:hover,
select:focus {
    background-color: rgb(240, 240, 240);
}