.container {
  width: 100%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 40px;
  background: url('/public/4002676.jpg') no-repeat center;
  background: white;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.555);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    min-width: 300px;
  }
}

.error-message {
  font-size: 1rem;
  color: red;
}

.success-message {
  font-size: 1rem;
  color: green;
}

.loading-message {
  font-size: 1rem;
  color: white;
}
