.container {
  width: 100%;
  min-width: 600px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 20px 20px 20px 200px;
  padding: 20px;
  background: url("../bg1.webp") no-repeat center;
  background: white;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.555);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 20px 20px 88px 20px;
    min-width: 200px;
  }
}

.error-message {
  font-size: 1rem;
  color: red;
}

.success-message {
  font-size: 1rem;
  color: green;
}

.loading-message {
  font-size: 1rem;
  color: white;
}
