.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 180px;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.336);
}

.navbarContainer picture img {
    margin: 20px 0;
    filter: drop-shadow(0 0 30px rgba(77, 169, 255, 0.322));
    animation: glow 2s linear infinite;
    border-radius: 20px;
}

@keyframes glow {
    0%,
    100% {
        filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    }

    50% {
        filter: drop-shadow(0 0 20px rgba(7, 92, 204, 0.7));
    }
}

.navbarItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
}

a {
    color: rgb(253, 253, 253);
    transition: all ease-in-out .2s;
    padding: 25px 20px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.712);
    background-color: rgba(46, 71, 97, 0.199);
}

.activeLink {
    background-color: rgba(46, 71, 97, 0.199);
    color: rgb(153, 153, 153);
}

.item:nth-child(4) {
    margin-bottom: 80px;
}

footer a {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

footer a:hover {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .navbarItems a {
        text-transform: none;
    }
    .reactIcon i {
        opacity: 10;
    }
}

@media (max-width: 768px) {
    .navbarContainer {
        min-width: 80px;
    }
    .item a {
        justify-content: center;
    }
    .navUnderFooter a span {
        display: none;
    }
    .navUnderFooter a svg {
        display: inline;
        width: 20px;
        height: auto;
    }
}

@media (min-width: 769px) {
    .item a span {
        display: inline;
    }
}
